<!-- Footer is contained in a footer-tag. Each row is represented by a
  div-tag (as of now just one row) and each column is represented by a
  section-tag -->
<footer>
  <div>
    <section>
      <h3>Contact</h3>
      <!-- Address and e-mail to the LTU Mesh HQ -->
      <address>
        <strong>E-mail</strong>: <a href="mailto:hello@ltu.mesh">hello@ltu.mesh</a><br>
        <strong>Visit us at</strong>:<br>
        Docentvägen 20, LGH 1001<br>
        LULEÅ 977 52
      </address>
    </section>
    <section>
      <h3>Legal</h3>
      <!-- Using details-tag so only the most important information is
        displayed per default -->
        <details>
          <summary>Copyright &copy; 2019 LTU Mesh</summary>
          <ul>
            <li>All Rights Reserved.</li>
            <li>All content and graphics on this web site are the property of LTU Mesh.</li>
          </ul>
        </details>
    </section>
  </div>
</footer>
