<!-- nav holds the top navigation bar -->
<nav>
  <!-- Each item in the navigation bar is contained in a unordered list -->
  <ul>
    <li>
      <a href="index.html">
        <img src="/img/mesh-logo.svg" alt="LTU Mesh logotype">
      </a>
    </li>
    <li>
      <a href="connect.html">
        Connect
      </a>
    </li>
    <li>
      <a href="map.html">
        Map
      </a>
    </li>
    <li>
      <a href="events.html">
        Events
      </a>
    </li>
    <li>
      <a href="about.html">
        About
      </a>
      <ul>
        <li>
          <a href="contact.html">
            Contact
          </a>
        </li>
        <li>
          <a href="history.html">
            History
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
