<ol class="breadcrumb">
  <!-- Only the previous pages are links so that the currently active page
    is highlighted as active -->
    <li><a href="index.html">Home</a></li>
    <li>Events</li>
</ol>
<section>
  <h1>Upcoming events</h1>
  <!-- Upcoming are displayed in a table that acts as an overview. The
    details for each event are linked using HTML anchors. -->
    <table>
      <thead>
        <tr>
          <!-- Table headers -->
          <th>Title</th>
          <th>Description</th>
          <th>Location</th>
          <th>Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Table rows (tr) with columns (td) -->
        <tr>
          <td>Meetup #123</td>
          <td>Workshop where we'll go through the hardware.</td>
          <td>Docentvägen 20</td>
          <td>2019-01-09 18:00</td>
          <!-- Anchors are linked with #event-123 to the element with the ID
            tag #event-123 below. -->
            <td><a href="#event-123">More info</a></td>
        </tr>
        <tr>
          <td>Meetup #124</td>
          <td>Workshop where we'll work with optimizing the LTU Mesh OS.</td>
          <td>Docentvägen 20</td>
          <td>2019-01-19 18:00</td>
          <td><a href="#event-124">More info</a></td>
        </tr>
        <tr>
          <td>Meetup #125</td>
          <td>Uuuhmm, unsure, we'll talk about stuff!</td>
          <td>Docentvägen 20</td>
          <td>2019-01-29 18:00</td>
          <td><a href="#event-125">More info</a></td>
        </tr>
      </tbody>
    </table>
</section>
<section>
  <!-- The h3 elements has a ID tag #event-123 so it is linked with the
    a-element in the table above -->
    <h3 id="event-123">Meetup #123</h3>
    <p>
    Gingerbread cake jelly pudding jelly beans. Fruitcake gingerbread wafer
    wafer gingerbread apple pie marshmallow. Biscuit jelly cookie dragée
    brownie dessert carrot cake macaroon bonbon. Liquorice marshmallow
    fruitcake caramels dessert gingerbread. Cupcake caramels biscuit macaroon.
    Cookie fruitcake chocolate bar donut bonbon tiramisu cake croissant.
    Pastry gingerbread pastry danish halvah sweet muffin jelly. Macaroon cake
    icing halvah marshmallow applicake. Jelly-o cupcake lemon drops applicake
    macaroon donut.
    </p>
    <p>
    Cookie fruitcake chocolate bar donut bonbon tiramisu cake croissant.
    Pastry gingerbread pastry danish halvah sweet muffin jelly. Macaroon cake
    icing halvah marshmallow applicake. Jelly-o cupcake lemon drops applicake
    macaroon donut.
    </p>
    <h3 id="event-124">Meetup #124</h3>
    <p>
    Cookie fruitcake chocolate bar donut bonbon tiramisu cake croissant.
    Pastry gingerbread pastry danish halvah sweet muffin jelly. Macaroon cake
    icing halvah marshmallow applicake. Jelly-o cupcake lemon drops applicake
    macaroon donut.
    </p>
    <p>
    Gingerbread cake jelly pudding jelly beans. Fruitcake gingerbread wafer
    wafer gingerbread apple pie marshmallow. Biscuit jelly cookie dragée
    brownie dessert carrot cake macaroon bonbon. Liquorice marshmallow
    fruitcake caramels dessert gingerbread. Cupcake caramels biscuit macaroon.
    Cookie fruitcake chocolate bar donut bonbon tiramisu cake croissant.
    Pastry gingerbread pastry danish halvah sweet muffin jelly. Macaroon cake
    icing halvah marshmallow applicake. Jelly-o cupcake lemon drops applicake
    macaroon donut.
    </p>
    <h3 id="event-125">Meetup #125</h3>
    <p>
    Gingerbread cake jelly pudding jelly beans. Fruitcake gingerbread wafer
    wafer gingerbread apple pie marshmallow. Biscuit jelly cookie dragée
    brownie dessert carrot cake macaroon bonbon. Liquorice marshmallow
    fruitcake caramels dessert gingerbread. Cupcake caramels biscuit macaroon.
    Cookie fruitcake chocolate bar donut bonbon tiramisu cake croissant.
    Pastry gingerbread pastry danish halvah sweet muffin jelly. Macaroon cake
    icing halvah marshmallow applicake. Jelly-o cupcake lemon drops applicake
    macaroon donut.
    </p>
    <p>
    Cookie fruitcake chocolate bar donut bonbon tiramisu cake croissant.
    Pastry gingerbread pastry danish halvah sweet muffin jelly. Macaroon cake
    icing halvah marshmallow applicake. Jelly-o cupcake lemon drops applicake
    macaroon donut.
    </p>
</section>
