<ol class="breadcrumb">
  <!-- Only the previous pages are links so that the currently active page
    is highlighted as active -->
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li>History</li>
</ol>
<section>
  <h1>Our story</h1>
  <p>
  Cookie fruitcake chocolate bar donut bonbon tiramisu cake croissant.
  Pastry gingerbread pastry danish halvah sweet muffin jelly. Macaroon cake
  icing halvah marshmallow applicake. Jelly-o cupcake lemon drops applicake
  macaroon donut.
  </p>
  <h3>Intial plan</h3>
  <img src="initial-mesh-network-topology.jpg" alt="Map of initial mesh network topology plan">
  <p>
  Gingerbread cake jelly pudding jelly beans. Fruitcake gingerbread wafer
  wafer gingerbread apple pie marshmallow. Biscuit jelly cookie dragée
  brownie dessert carrot cake macaroon bonbon. Liquorice marshmallow
  fruitcake caramels dessert gingerbread. Cupcake caramels biscuit macaroon.
  </p>
  <h3>Wow! Tell me more!</h3>
  <p>
  Gingerbread cake jelly pudding jelly beans. Fruitcake gingerbread wafer
  wafer gingerbread apple pie marshmallow. Biscuit jelly cookie dragée
  brownie dessert carrot cake macaroon bonbon. Liquorice marshmallow
  fruitcake caramels dessert gingerbread. Cupcake caramels biscuit macaroon.
  Cookie fruitcake chocolate bar donut bonbon tiramisu cake croissant.
  Pastry gingerbread pastry danish halvah sweet muffin jelly. Macaroon cake
  icing halvah marshmallow applicake. Jelly-o cupcake lemon drops applicake
  macaroon donut.
  </p>
</section>
